{% extends 'site_base.html' %}
{% block main %}
<main>
    <div class="container" style="padding-left: 30px;">
      <div class="row">

        <div class="col-md-6 align-self-center">
          <h1>404</h1>
          <h2>Oops! Page doesn't exists.</h2>
          <p>The page you are looking for does not exist.Click the Home button below
            to go back to the homepage.
          </p>

          <!--Go to Home Button-->
          <button class="btn green" onclick=""><a href="/">HOME</a></button>
        </div>
      </div>
    </div>
  </main>
{% endblock main %}